global
    maxconn 2000

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http_gateway
    bind *:8080
    default_backend middleware_pool

backend middleware_pool
    balance roundrobin
    option httpchk
    server bridge_1 127.0.0.1:8001 check
    server bridge_2 127.0.0.1:8002 check
    # server bridge_3 127.0.0.1:8003 check
    # server bridge_4 127.0.0.1:8004 check
    # server bridge_5 127.0.0.1:8005 check
    # server bridge_6 127.0.0.1:8006 check
    # server bridge_7 127.0.0.1:8007 check
    # server bridge_8 127.0.0.1:8008 check

